
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1 {
	
	font-size: 50px;
}
.exp-area h1{
    text-align: center;
	padding-top: 75px;
    padding-bottom: 30px;
    font-size: 40px;
}
.name-highlight{
    color: orange;
}
.half-width{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;

}
.half-width p {
	padding-bottom: 20px;
	width: 398px;
	font-size: 14px;
}
.half-width img {
	width: 95%;
}

.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.about-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button {
	text-decoration: none;
	background-image: linear-gradient(45deg, lightSalmon, tomato);
	padding: 15px 34px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}
.single-exp {
	border-radius: 25px;
	height: 70%;
	background-color: white;
	width: 24%;
	padding-top: 15px;
	float: left;
	padding-left: 15px;
	margin-left: 83px;
}
.single-exp h2 {
	text-align: left;
	font-size: 20px;
}
.exp-area {
	background-color: #E0FFFF;
}
footer p{
    text-align: center;
}
.single-exp p {
	width: 293px;
	font-size: 14px;
}

.extra {
	padding-bottom: 170px;
}

.footer-half-1 img {
	width: 63%;
	float: left;
	padding-left: 250px;
	padding-top: 100px;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
.container img {
	width: 70%;
	padding-top: 120px;
}
  
  
.top-left {
	position: absolute;
	top: 8px;
	left: 300px;
	font-size: 40px;
	padding-top: 200px;
	font-weight: bold;
}
.container .btn {
	position: absolute;
	top: 62%;
	left: 74%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #FC7562;
	color: white;
	font-size: 16px;
	padding: 12px 40px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}
 
  
.social2 {
	width: 1350px;
	padding-top: 10px;
}
.social2 img {
	width: 30px;
	padding-left: 20px;
	padding-bottom: 80px;
}
.social2 img {
	width: 30px;
}
.footersection {
	text-align-last: center;
}
.footersection p {
	color: gray;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 0px;
}
.footersection h2 {
	color: #363958;
	font-size: 28px;
	font-weight: bold;
	padding-bottom: 0px;
}

.footer{
    height: 40%;
}

/* Add a black background color to the top navigation */
.topnav {
	background-color: white;
	overflow: hidden;
}
  
  .topnav a {
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	float: right;
	height: 100px;
}
  
 
  
.topnav a.active {
	background-color: ;
	color: black;
}

